#carousel {
      border: 1.5px solid #4F754A;
      width: 100% !important;

      .slide {
            display: flex !important;

            .slide-text {
                  color: #342F2A;
                  font-size: 30px;
                  font-family: Georgia;
                  font-weight: 300;
                  word-wrap: break-word;
                  margin: 0 29px;
            }
      }

      .slick-arrow {
            display: none !important;
      }

      .slick-prev {
            display: none;
      }
}

@media (max-width: 1024px) {
      #carousel {
            .slide {
                  .slide-text {
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                  }
                  svg{
                        width: 55px;
                        height: 55px;
                  }
            }
      }
}