#carousel {
      border: 1.5px solid #4F754A;
      width: 100% !important;

      .slide {
            display: flex !important;

            .slide-text {
                  color: #342F2A;
                  font-size: 30px;
                  font-family: Georgia;
                  font-weight: 300;
                  word-wrap: break-word;
                  margin: 0 29px;
            }
      }

      .slick-arrow{
            display: none !important;
      }
      .slick-prev {
            display: none;
      }
}