.about-me-section {
      padding-bottom: 178px;

      .test {
            margin: 65px auto !important;
      }

      .Line6 {
            width: 90%;
            height: 1px;
            border: 1px #4F754A solid;
            margin: 0 auto;
      }

      .main-place-border {
            margin: 0 auto;

            .about-me {
                  color: #4F754A;
                  font-size: 35px;
                  font-family: Georgia;
                  font-weight: 300;
                  word-wrap: break-word;
                  margin-bottom: 82px;
                  text-transform: uppercase;
            }

            .about-me-body {
                  width: 95%;

                  .about-me-text {
                        width: 80%;
                        color: #342F2A;
                        font-size: 16px;
                        font-family: Raleway;
                        font-weight: 300;
                        line-height: 22.40px;
                        word-wrap: break-word
                  }

                  .about-me-img-wrapper {
                        width: 400px;
                        height: 400px;
                        background-image: url("../assets/media/background/SelfImg.jpg");
                        border-radius: 100%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: bottom;

                  }

                  .about-me-img {
                        width: 100%;
                        height: 100%;
                  }
            }
      }
}

@media (max-width: 1024px) {
      .about-me-section {
            padding-bottom: 60px;

            .main-place-border {
                  .about-me {
                        font-size: 18px;
                        font-weight: 400;
                        word-wrap: break-word;
                        margin-bottom: 25px;

                  }

                  .about-me-body {
                        flex-direction: column-reverse;
                        align-items: center;

                        .about-me-text {
                              margin: 0 auto;
                              text-align: center;
                              font-size: 16px;
                              font-weight: 400;
                              line-height: 22.40px;
                              word-wrap: break-word;
                              margin-top: 30px;
                        }

                        .about-me-img-wrapper {
                              width: 213px;
                              height: 213px;
                        }
                  }
            }
      }
}