.services-section {
      .services {
            color: #4F754A;
            font-size: 35px;
            font-family: Georgia;
            font-weight: 300;
            word-wrap: break-word;
            margin-bottom: 90px;
            text-transform: uppercase;
      }

      .svg-border {
            border: 1px solid #4F754A;
            padding: 10px;
            width: 76px;
            height: 82;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            margin-bottom: 15px;
      }

      .services-underline {
            width: 100%;
            border: 0.50px #4F754A solid;
            margin-bottom: 25px;
            margin-top: 20px
      }

      .services-text {
            color: #342F2A;
            font-size: 16px;
            font-family: Raleway;
            font-weight: 400;
            line-height: 22.40px;
            word-wrap: break-word;
            width: 85%;
      }

      .services-header {
            color: #5A5754;
            font-size: 16px;
            font-family: Raleway;
            font-weight: 600;
            word-wrap: break-word
      }

      .all-services {
            justify-content: end;
            display: flex;
            align-items: center;

            .services-button {
                  color: #4F754A;
                  font-size: 18px;
                  font-family: Raleway;
                  font-weight: 600;
                  word-wrap: break-word;
            }
      }

      .container-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 82.6px;
            padding-bottom: 50px;
      }

      .col-3-grid {
            grid-row: span 3;
      }
}

@media (max-width: 1024px) {
      .services-section {
            .container-grid {
                  grid-template-columns: repeat(1, 1fr);

                  .services-cols {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .services-underline {
                              width: 85%;
                        }

                        .services-text {
                              text-align: center;
                              font-size: 16px;
                              font-weight: 400;
                              line-height: 22.40px;
                              word-wrap: break-word
                        }

                        .services-header {
                              font-size: 16px;
                              font-weight: 400;
                              line-height: 22.40px;
                              word-wrap: break-word
                        }
                  }
            }

            .services {
                  font-size: 18px;
                  font-weight: 400;
                  word-wrap: break-word;
                  text-align: unset;
                  margin-bottom: 50px;
            }
      }
}