.logo-ellipse {
  width: 20px;
  height: 20px;
  background: #A1A864;
  border-radius: 9999px;
}

.logo {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  display: inline-flex;
}

.logo-text {
  color: #4F754A;
  font-size: 24px;
  font-family: Raleway;
  font-weight: 500;
  word-wrap: break-word;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100px;
  width: 100%;
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: all 0.3s;
}
.nav-container .nav-list-item {
  color: #4F754A;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 500;
}
.nav-container .nav-line {
  width: 0;
  height: 25px;
  border: 1px #4F754A solid;
}
.nav-container .nav-lang {
  width: 25px;
  height: 25px;
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  padding-left: 6px;
  padding-right: 5px;
  border-radius: 1000px;
  border: 0.5px #4F754A solid;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.nav-container .nav-lang .nav-lang-text {
  color: #4F754A;
  font-size: 10px;
  font-family: Raleway;
  font-weight: 500;
  word-wrap: break-word;
}
.nav-container .hamburger-menu {
  display: none;
}

.p-20 {
  margin-right: 20px;
}

.nav-wrapper {
  width: 85%;
  margin: 0 auto;
}

#ham-menu {
  display: none;
}

nav ul.active {
  left: 0;
}

@media (max-width: 1024px) {
  .nav-container .nav-wrapper .col-6 .hamburger-menu {
    display: flex;
    cursor: pointer;
    justify-content: end;
  }
  .logo-text {
    font-size: 16px;
  }
  .logo-ellipse {
    width: 15px;
    height: 15px;
  }
  .nav-container {
    height: 50px;
  }
  #ham-menu {
    display: flex;
    justify-content: end;
  }
  nav ul {
    background-color: #fff;
    position: fixed;
    left: -100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s;
    gap: 0;
    z-index: 200;
    top: 50px;
    padding-top: 40px;
  }
  nav ul li {
    padding-bottom: 25px !important;
    width: unset !important;
  }
  #nav-bar {
    justify-content: start;
  }
  #nav-bar .seperator {
    display: none;
  }
}
.background-img-wrapper {
  background-image: url("../assets/media/background/backgroundimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 78px;
}
.background-img-wrapper .career-consultant {
  color: #4F754A;
  font-size: 45px;
  font-family: Georgia;
  font-weight: 300;
  word-wrap: break-word;
  margin: 86px 0 40px 0;
}
.background-img-wrapper .career-consultant-text {
  width: 678px;
  text-align: center;
  color: #342F2A;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 300;
  line-height: 26.98px;
  word-wrap: break-word;
  margin: 0 auto;
  padding-bottom: 40px;
}
.background-img-wrapper .info-counter-item-wrapper {
  width: 115px;
  height: 115px;
  border-radius: 1000px;
  overflow: hidden;
  border: 2px #4F754A solid;
  justify-content: center;
  align-items: center;
  margin: 0 25px 0 25px;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
}
.background-img-wrapper .info-counter-item-wrapper .info-counter-item {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.background-img-wrapper .info-counter-item-wrapper .info-counter-item .count {
  color: #4F754A;
  font-size: 30px;
  font-family: Raleway;
  font-weight: 600;
  word-wrap: break-word;
}
.background-img-wrapper .info-counter-item-wrapper .info-counter-item .infos {
  color: #4F754A;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
}
.background-img-wrapper .button-wrapper {
  padding-top: 40px;
  padding-bottom: 85px;
}
.background-img-wrapper a {
  text-decoration: none;
}
.background-img-wrapper .button {
  height: 50px;
  width: 316px;
  padding: 14px 6% 14px 6%;
  border-radius: 6px;
  background-color: #4F754A;
  cursor: pointer;
  transition: all 500ms ease;
  color: white;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 500;
  word-wrap: break-word;
}
.background-img-wrapper .button:hover {
  background-color: #32592D;
}

.layer {
  position: relative;
}

.layer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.58);
  z-index: 1;
}

.z-index {
  z-index: 10;
  position: relative;
}

.background-section {
  padding-top: 100px;
}

@media (max-width: 1024px) {
  .background-img-wrapper {
    margin-bottom: 26px;
  }
  .background-section .z-index .button-wrapper .button {
    width: 230px;
    height: 45px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .background-section .z-index .d-flex .career-consultant {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 39px 0 15px 0;
  }
  .background-section .z-index .career-consultant-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 90%;
    padding-bottom: 25px;
  }
  main .background-section {
    padding-top: 50px;
  }
  .info-counter .info-counter-item-wrapper .info-counter-item .count {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #4F754A;
  }
  .info-counter .info-counter-item-wrapper {
    background: rgba(255, 255, 255, 0.3);
    width: 85px;
    height: 85px;
    margin: 0 13px 0 13px;
  }
  .info-counter .info-counter-item-wrapper .info-counter-item {
    margin: 24px 12px 24px 12px;
  }
  .info-counter .info-counter-item-wrapper .info-counter-item .infos {
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
#carousel {
  border: 1.5px solid #4F754A;
  width: 100% !important;
}
#carousel .slide {
  display: flex !important;
}
#carousel .slide .slide-text {
  color: #342F2A;
  font-size: 30px;
  font-family: Georgia;
  font-weight: 300;
  word-wrap: break-word;
  margin: 0 29px;
}
#carousel .slick-arrow {
  display: none !important;
}
#carousel .slick-prev {
  display: none;
}

@media (max-width: 1024px) {
  #carousel .slide .slide-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  #carousel .slide svg {
    width: 55px;
    height: 55px;
  }
}
.about-me-section {
  padding-top: 64px;
  padding-bottom: 178px;
}
.about-me-section .test {
  margin: 65px auto !important;
}
.about-me-section .Line6 {
  width: 90%;
  height: 1px;
  border: 1px #4F754A solid;
  margin: 0 auto;
}
.about-me-section .main-place-border {
  margin: 0 auto;
}
.about-me-section .main-place-border .about-me {
  color: #4F754A;
  font-size: 35px;
  font-family: Georgia;
  font-weight: 300;
  word-wrap: break-word;
  margin-bottom: 82px;
}
.about-me-section .main-place-border .about-me-body {
  width: 95%;
}
.about-me-section .main-place-border .about-me-body .about-me-text {
  width: 80%;
  color: #342F2A;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 300;
  line-height: 22.4px;
  word-wrap: break-word;
}
.about-me-section .main-place-border .about-me-body .about-me-img-wrapper {
  width: 400px;
  height: 400px;
  background-image: url("https://s3-alpha-sig.figma.com/img/2efb/5fa7/39835f331a1d15adfd39e7ae63cbc281?Expires=1690761600&Signature=UjXptLSRORmuAt4WbFKsDxQgFxAXM-ZD4Yl10dcTPNphSylLNtr3pe69agWn6ZgRLzu59dd7ysH1lS8Cjll-rdRcvV529DU0OjkWve8sS9-F3gNxmtDnNUd1crTgDATg-gD~sg1xRLVS5rDr5woxTd1K7E3zY2SrheOs3E-m~bCgwq~b0AYeGflxW~phP3LIwkkj5S53qtvxpHYu0NbizL5eepb7GtVvuLpY0wd~JFZaCV2NW7rNq3Nd2vni05lfPJv3DezYXWzuh~vacZkQYxX2ntLcNzDblFrbuGTpgK7vsLOFDj1d1sufEx~VK7nFlqaQnQkDXwBXCMpMz6vFUw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.about-me-section .main-place-border .about-me-body .about-me-img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .about-me-section {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .about-me-section .main-place-border .about-me {
    font-size: 18px;
    font-weight: 400;
    word-wrap: break-word;
    margin-bottom: 25px;
  }
  .about-me-section .main-place-border .about-me-body {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about-me-section .main-place-border .about-me-body .about-me-text {
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    word-wrap: break-word;
    margin-top: 30px;
  }
  .about-me-section .main-place-border .about-me-body .about-me-img-wrapper {
    width: 213px;
    height: 213px;
  }
}
.services-section .services {
  color: #4F754A;
  font-size: 35px;
  font-family: Georgia;
  font-weight: 300;
  word-wrap: break-word;
  margin-bottom: 90px;
}
.services-section .svg-border {
  border: 1px solid #4F754A;
  padding: 10px;
  width: 76px;
  height: 82;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 15px;
}
.services-section .services-underline {
  width: 100%;
  border: 0.5px #4F754A solid;
  margin-bottom: 25px;
  margin-top: 20px;
}
.services-section .services-text {
  color: #342F2A;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 22.4px;
  word-wrap: break-word;
  width: 85%;
}
.services-section .services-header {
  color: #5A5754;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 600;
  word-wrap: break-word;
}
.services-section .all-services {
  justify-content: end;
  display: flex;
  align-items: center;
}
.services-section .all-services .services-button {
  color: #4F754A;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 600;
  word-wrap: break-word;
}
.services-section .container-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 82.6px;
  padding-bottom: 50px;
}
.services-section .col-3-grid {
  grid-row: span 3;
}

@media (max-width: 1024px) {
  .services-section .container-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .services-section .container-grid .services-cols {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .services-section .container-grid .services-cols .services-underline {
    width: 85%;
  }
  .services-section .container-grid .services-cols .services-text {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    word-wrap: break-word;
  }
  .services-section .container-grid .services-cols .services-header {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    word-wrap: break-word;
  }
  .services-section .services {
    font-size: 18px;
    font-weight: 400;
    word-wrap: break-word;
    text-align: unset;
    margin-bottom: 50px;
  }
}
.customer-feedback-section {
  padding-top: 143.5px;
}
.customer-feedback-section .customer-feedback-header {
  width: 50%;
  color: #4F754A;
  font-size: 35px;
  font-family: Georgia;
  font-weight: 400;
  word-wrap: break-word;
  padding-bottom: 26px;
}
.customer-feedback-section .customer-feedback-text {
  width: 66%;
  color: #342F2A;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 22.4px;
  word-wrap: break-word;
}
.customer-feedback-section .c-f-wrapper {
  flex-direction: column;
}
.customer-feedback-section .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  position: relative;
}
.customer-feedback-section .grid-container .grid-item {
  width: 100%;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 19px;
  text-align: center;
}
.customer-feedback-section .grid-container .feedback-items-wrapper {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}
.customer-feedback-section .grid-container .feedback-items-wrapper .feedback-img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  object-fit: cover;
  margin: 0 auto;
}
.customer-feedback-section .grid-container .feedback-items-wrapper .feedback-header {
  width: 100%;
  text-align: center;
  color: #5F5851;
  font-size: 14px;
  font-family: Raleway;
  font-weight: 500;
  line-height: 19.6px;
  word-wrap: break-word;
  margin-top: 19px;
}
.customer-feedback-section .grid-container .feedback-items-wrapper .feedback-name {
  width: 100%;
  text-align: center;
  color: #4F754A;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 600;
  word-wrap: break-word;
  margin-top: 5px;
}
.customer-feedback-section .grid-container .feedback-items-wrapper .feedback-text {
  color: #342F2A;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 22.4px;
  word-wrap: break-word;
  margin-top: 5px;
}
.customer-feedback-section .grid-container .item1 {
  height: 386px;
  border: 2px #4F754A solid;
  border-radius: 6px;
}
.customer-feedback-section .grid-container .item2 {
  height: 337px;
  border: 2px #4F754A solid;
  border-radius: 6px;
}
.customer-feedback-section .grid-container .item3 {
  height: 337px;
  border: 2px #4F754A solid;
  border-radius: 6px;
}
.customer-feedback-section .grid-container .item4 {
  height: 386px;
  margin-top: -49px;
  border: 2px #4F754A solid;
  border-radius: 6px;
}
.customer-feedback-section .grid-container .line9 {
  width: 1px;
  height: 102%;
  border: 1px #4F754A solid;
  position: absolute;
  right: 49.9%;
}
.customer-feedback-section .grid-container .line8 {
  width: 50%;
  height: 1px;
  border: 1px #4F754A solid;
  position: absolute;
  left: -2.6%;
  bottom: 46.7%;
}
.customer-feedback-section .grid-container .line7 {
  width: 50%;
  height: 1px;
  border: 1px #4F754A solid;
  position: absolute;
  right: -2.7%;
  bottom: 53%;
}

@media (max-width: 1024px) {
  .customer-feedback-section {
    padding-bottom: 70px;
    padding-top: 60.5px;
  }
  .customer-feedback-section .customer-feedback-header {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    word-wrap: break-word;
    text-align: unset;
  }
  .customer-feedback-section .customer-feedback-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    word-wrap: break-word;
    width: 100%;
  }
  .customer-feedback-section .c-f-wrapper {
    padding-bottom: 50px;
  }
  .customer-feedback-section .grid-container {
    gap: 20px;
  }
  .customer-feedback-section .grid-container .grid-item {
    padding: 8px;
  }
  .customer-feedback-section .grid-container .grid-item .feedback-header {
    font-size: 12px;
    font-weight: 500;
    line-height: 18.23px;
    word-wrap: break-word;
  }
  .customer-feedback-section .grid-container .grid-item .feedback-img {
    width: 50px;
    height: 50px;
  }
  .customer-feedback-section .grid-container .grid-item .feedback-name {
    font-size: 14px;
    font-weight: 600;
    line-height: 21.27px;
    word-wrap: break-word;
  }
  .customer-feedback-section .grid-container .grid-item .feedback-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    word-wrap: break-word;
  }
}
.faq {
  padding-top: 227px;
}
.faq .faq-wrapper {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
  display: inline-flex;
}
.faq .faq-wrapper .faq-header {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: flex;
}
.faq .faq-wrapper .faq-header .Faq {
  width: 71px;
  color: #4F754A;
  font-size: 35px;
  font-family: Georgia;
  font-weight: 400;
  word-wrap: break-word;
}
.faq .faq-wrapper .faq-header .faq-text {
  width: 341px;
  color: #342F2A;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 22.4px;
  word-wrap: break-word;
}
.faq .faq-wrapper .accordion {
  border-bottom: 3px solid #4F754A;
  margin-bottom: 10px;
  overflow: hidden;
}
.faq .faq-wrapper .accordion-header {
  padding: 10px 0 10px 0;
  cursor: pointer;
  position: relative;
  color: #342F2A;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 22.4px;
  word-wrap: break-word;
}
.faq .faq-wrapper .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.faq .faq-wrapper .accordion-content p {
  padding: 10px;
  color: #342F2A;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 22.4px;
  word-wrap: break-word;
}
.faq .faq-wrapper .accordion-header::after {
  content: "";
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  display: inline-block;
  padding: 0.25em;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(135deg);
}
.faq .faq-wrapper .accordion.open .accordion-header::after {
  transform: translateY(-50%) rotate(-45deg);
}

@media (max-width: 1024px) {
  .faq {
    padding-top: 0;
  }
  .faq .faq-wrapper .faq-header .faq-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 23.98px;
    word-wrap: break-word;
  }
  .faq .faq-wrapper .faq-header .Faq {
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
  }
  .faq .faq-wrapper .accordion .accordion-header {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    word-wrap: break-word;
    text-align: unset;
    width: 95%;
  }
  .faq .faq-wrapper .accordion-header::after {
    right: -10px;
  }
}
.any-questions {
  margin-top: 164px;
}
.any-questions .HaveAnyQuestions {
  width: 100%;
  color: #4F754A;
  font-size: 35px;
  font-family: Georgia;
  font-weight: 400;
  word-wrap: break-word;
  margin-bottom: 61px;
}
.any-questions .contact-info {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  display: inline-flex;
}
.any-questions .contact-info .contact {
  width: 73px;
  color: #4F754A;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 600;
  line-height: 27px;
  word-wrap: break-word;
}
.any-questions .contact-info .contact-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  display: flex;
}
.any-questions .contact-info .contact-wrapper .contact-items {
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}
.any-questions .contact-info .contact-wrapper .contact-items .gmail {
  color: #342F2A;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 25.2px;
  word-wrap: break-word;
}
.any-questions .name,
.any-questions .email,
.any-questions .message {
  color: #342F2A;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 15px;
}
.any-questions .form-control {
  display: flex;
  padding: 16px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--main-color-1, #4F754A);
}
.any-questions .form-control::placeholder {
  color: #8E8E8E;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.any-questions .text-area {
  margin-top: 56px;
}
.any-questions .text-area .text-area-himself {
  display: flex;
  height: 184px;
  padding: 16px;
  align-items: center;
  resize: none;
}
.any-questions .btn-primary {
  display: flex;
  width: 234px;
  height: 50px;
  padding: 14px 70px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 6px;
  background: var(--main-color-1, #4F754A);
  color: #FFF;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  margin-top: 61px;
}

@media (max-width: 1024px) {
  .any-questions {
    margin-top: 60px;
  }
  .any-questions .HaveAnyQuestions {
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
    margin-bottom: 30px;
  }
  .any-questions .contact-info .contact {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
  }
  .any-questions .contact-info .contact-wrapper .contact-items .gmail {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    word-wrap: break-word;
  }
  .any-questions .name,
  .any-questions .email,
  .any-questions .message {
    margin: 30px 0 15px 0;
  }
  .any-questions .text-area {
    margin-top: 0;
  }
}
.footer {
  margin-top: 172px;
}
.footer .footer-wrapper {
  width: 100%;
  height: 80px;
  background: #4F754A;
  justify-content: center;
  align-items: center;
  display: flex;
}
.footer .footer-wrapper .copyright {
  color: white;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 22.4px;
}

@media (max-width: 1024px) {
  .footer {
    margin-top: 60px;
  }
  .footer .footer-wrapper {
    height: 40px;
  }
  .footer .footer-wrapper .copyright {
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.88px;
  }
}
.service-background-section {
  background-image: url("../assets/media/background/unsplash_pUAM5hPaCRI.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.service-background-section .service-wrapper {
  padding: 308px 0 208px 0;
  margin: 0 auto;
}
.service-background-section .service-wrapper .services-header {
  padding-bottom: 20px;
  color: #4F754A;
  font-size: 45px;
  font-family: Georgia;
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
}
.service-background-section .service-wrapper .service-paragraph {
  color: #342F2A;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 25.2px;
  word-wrap: break-word;
  text-align: center;
  padding-bottom: 28px;
}
.service-background-section .service-wrapper .btn-primary {
  display: flex;
  width: 234px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 6px;
  background: var(--main-color-1, #4F754A);
  color: #FFF;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  margin-top: 61px;
  word-wrap: break-word;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .service-background-section {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .service-background-section .service-wrapper {
    padding: 92px 0 43px 0;
  }
  .service-background-section .service-wrapper .services-header {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
  }
  .service-background-section .service-wrapper .service-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
}
.all-services-line {
  padding-top: 100px;
}
.all-services-line .all-service-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
}
.all-services-line .all-service-wrapper .service-cards {
  border: 2px solid #4F754A;
  border-radius: 5px;
  padding: 34px 32px 36px 32px;
}
.all-services-line .all-service-wrapper .service-cards .svg-border {
  border: 1px solid #4F754A;
  border-radius: 5px;
}
.all-services-line .all-service-wrapper .service-cards .service-content {
  color: #5A5754;
  font-size: 24px;
  font-family: Raleway;
  font-weight: 600;
  word-wrap: break-word;
  padding: 30px 0 44px 0;
}
.all-services-line .all-service-wrapper .service-cards .Line5 {
  width: 100%;
  height: 1px;
  border: 0.5px #4F754A solid;
  margin-bottom: 25px;
}
.all-services-line .all-service-wrapper .service-cards .service-paragraph {
  color: #342F2A;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 22.4px;
  word-wrap: break-word;
  width: 82%;
}
.all-services-line .all-service-wrapper .service-cards .service-price {
  color: #4F754A;
  font-size: 24px;
  font-family: Raleway;
  font-weight: 600;
  word-wrap: break-word;
  padding: 30px 0 41px 0;
}
.all-services-line .all-service-wrapper .service-cards .btn-primary {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--main-color-1, #4F754A);
  color: #FFF;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  word-wrap: break-word;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .all-services-line .all-service-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .all-services-line .all-service-wrapper .service-cards {
    padding: 34px 17px 39px 17px;
  }
  .all-services-line .all-service-wrapper .service-cards .service-content {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: unset;
  }
  .all-services-line .all-service-wrapper .service-cards .service-paragraph {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: unset;
  }
}
.preperation-section {
  padding: 180px 0 100px 0;
}
.preperation-section .preperation-wrapper .preperation-contents .preperation-header {
  color: var(--main-color-1, #4F754A);
  font-family: Georgia;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 40px;
}
.preperation-section .preperation-wrapper .preperation-contents .preperation-paragraph {
  padding-bottom: 65px;
  color: var(--text-color, #342F2A);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  width: 68%;
}
.preperation-section .preperation-wrapper .preperation-contents .about-price {
  color: var(--main-color-1, #4F754A);
  font-family: Georgia;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 40px;
}
.preperation-section .preperation-wrapper .preperation-contents .dots-future {
  padding-bottom: 20px;
}
.preperation-section .preperation-wrapper .preperation-contents .dots-future .future-ellipse {
  width: 15px;
  height: 15px;
  background: #4F754A;
  border-radius: 9999px;
}
.preperation-section .preperation-wrapper .preperation-contents .dots-future .l-futures {
  color: var(--text-color, #342F2A);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  padding-left: 8px;
}
.preperation-section .preperation-wrapper .preperation-img {
  justify-content: right;
}

@media (max-width: 1024px) {
  .preperation-section {
    padding: 91px 0 100px 0;
  }
  .preperation-section .preperation-wrapper {
    flex-direction: column-reverse;
  }
  .preperation-section .preperation-wrapper .preperation-contents .preperation-header {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: unset;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .preperation-section .preperation-wrapper .preperation-contents .preperation-paragraph {
    width: unset;
    padding: unset;
  }
  .preperation-section .preperation-wrapper .preperation-contents .about-price {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .preperation-section .preperation-wrapper .preperation-img img {
    width: 100%;
  }
}
.fill-blanks-section {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 55px;
}
.fill-blanks-section .blanks-wrapper .blanks-header {
  color: var(--main-color-1, #4F754A);
  font-family: Georgia;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 80px;
}
.fill-blanks-section .blanks-wrapper .blanks-inputs-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 81px;
  margin-bottom: 81px;
}
.fill-blanks-section .blanks-wrapper .note-label,
.fill-blanks-section .blanks-wrapper .resume-label,
.fill-blanks-section .blanks-wrapper .linkedin-label,
.fill-blanks-section .blanks-wrapper .email-label,
.fill-blanks-section .blanks-wrapper .phonenumber-label,
.fill-blanks-section .blanks-wrapper .surname-label,
.fill-blanks-section .blanks-wrapper .name-label {
  color: var(--text-color, #2C2C2D);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 143.682%;
  margin-bottom: 15px;
}
.fill-blanks-section .blanks-wrapper .form-control {
  display: flex;
  width: 100%;
  padding: 11px 20px 11px 20px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #BDBDBD;
  background: #FFF;
}
.fill-blanks-section .blanks-wrapper .form-control::placeholder {
  color: #7A7A7A;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 143.682%;
}
.fill-blanks-section .blanks-wrapper .btn-primary {
  display: flex;
  width: 234px;
  height: 50px;
  padding: 14px 70px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 6px;
  background: var(--main-color-1, #4F754A);
  color: #FFF;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  margin-top: 46px;
}
.fill-blanks-section .blanks-wrapper .right {
  justify-content: right;
}
.fill-blanks-section .blanks-wrapper .country-select {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 14px;
}
.fill-blanks-section .blanks-wrapper .form-control-country {
  border-radius: 4px;
  border: 1px solid #BDBDBD;
  background: #FFF;
}

.footer-services {
  margin: 0;
}

input[type=file] {
  display: none;
}

.custom-file-label {
  width: 100%;
  padding: 7px 20px 8px 20px;
  color: #5D7EA4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #5D7EA4;
  background: #FFF;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 143.682%;
}

@media (max-width: 1024px) {
  .fill-blanks-section {
    padding-top: 50px;
  }
  .fill-blanks-section .blanks-wrapper .blanks-header {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 30px;
    text-align: unset;
  }
  .fill-blanks-section .blanks-wrapper .blanks-inputs-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    margin-bottom: 81px;
  }
  .fill-blanks-section .blanks-wrapper .btn-primary {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 147px;
    height: 45px;
  }
}
.success-section {
  padding-top: 245px;
  padding-bottom: 145;
}
.success-section .success-wrapper {
  flex-direction: column;
}
.success-section .success-wrapper .circle-success {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4F754A;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
.success-section .success-wrapper .success-header {
  color: #4F754A;
  font-size: 45px;
  font-family: Georgia;
  font-weight: 400;
  word-wrap: break-word;
  padding-top: 55px;
}
.success-section .success-wrapper .success-paragraph {
  color: #342F2A;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 22.4px;
  word-wrap: break-word;
  padding-top: 25px;
  padding-bottom: 77px;
  text-align: center;
}
.success-section .success-wrapper .next {
  color: #4F754A;
  font-size: 30px;
  font-family: Georgia;
  font-weight: 400;
  word-wrap: break-word;
  padding-bottom: 30px;
}
.success-section .success-wrapper .success-ending {
  color: #342F2A;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 22.4px;
  word-wrap: break-word;
}
.success-section .success-wrapper .ending-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}
.success-section .success-wrapper .ending-wrapper .ellipse {
  width: 20px;
  height: 20px;
  background: #4F754A;
  border-radius: 100%;
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .success-section {
    padding-top: 157px;
  }
  .success-section .circle-success {
    width: 80px;
    height: 80px;
  }
  .success-section .success-wrapper .success-header {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20px;
  }
  .success-section .success-wrapper .success-paragraph {
    padding-top: 18px;
    padding-bottom: 50px;
  }
  .success-section .success-wrapper .next {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .success-section .success-wrapper .ending-wrapper .ellipse {
    width: 14px;
    height: 14px;
  }
  .success-section .success-wrapper .test {
    align-items: center;
  }
}
body {
  background-color: #F8F7F1;
}
