.logo-ellipse {
  width: 20px;
  height: 20px;
  background: #A1A864;
  border-radius: 9999px;
}

.logo {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  display: inline-flex;
}

.logo-text {
  color: #4F754A;
  font-size: 24px;
  font-family: Raleway;
  font-weight: 500;
  word-wrap: break-word;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100px;
  width: 100%;
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: all 0.3s;
}
.nav-container .nav-list-item {
  color: #4F754A;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 500;
  word-wrap: break-word;
  margin-right: 70px;
}
.nav-container .nav-line {
  width: 50px;
  height: 0;
  transform: rotate(90deg);
  border: 1px #4F754A solid;
}
.nav-container .nav-lang {
  width: 25px;
  height: 25px;
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  padding-left: 6px;
  padding-right: 5px;
  border-radius: 1000px;
  border: 0.5px #4F754A solid;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.nav-container .nav-lang .nav-lang-text {
  color: #4F754A;
  font-size: 10px;
  font-family: Raleway;
  font-weight: 500;
  word-wrap: break-word;
}

.p-20 {
  margin-right: 20px;
}

.nav-wrapper {
  width: 85%;
  margin: 0 auto;
}

.background-img-wrapper {
  background-image: url("https://s3-alpha-sig.figma.com/img/eb0c/fe86/875dd34d1b6e1dd507d528af3fff773c?Expires=1690156800&Signature=YrhBnUdFtJnviEERREbH8Vo2bTGgO85IpJL-dmK7~QdWf7QDn0nbGMoklwAhB5Cw5xOFNwPysjxj-oJuIzuaGARQXQfGt9Uc2RPPzwUa38NBJMtK01~Vrzf0G6LZf~J~BJJcrZ86Z2Lmjdt2P6RJXEgNqPeL9HhmDitZEjZrkSev-uAgzcWZM0UzJBdbna23C6rJAP3qrD1yH-cik7Iah61rdV8HWJdMFRswNYS9MFAzflV84jZshmPCDChq-LM3gU64BQh9CpnajLLJp4i3lPRe62T1UhAFlitBiQiQyium-mHsDENb8o32mSyY7C1UUfHEL~cNZO9lxouJZDt~-g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 78px;
}
.background-img-wrapper .career-consultant {
  color: #4F754A;
  font-size: 45px;
  font-family: Georgia;
  font-weight: 300;
  word-wrap: break-word;
  margin: 86px 0 40px 0;
}
.background-img-wrapper .career-consultant-text {
  width: 678px;
  text-align: center;
  color: #342F2A;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 300;
  line-height: 26.98px;
  word-wrap: break-word;
  margin: 0 auto;
  padding-bottom: 40px;
}
.background-img-wrapper .info-counter-item-wrapper {
  width: 115px;
  height: 115px;
  border-radius: 1000px;
  overflow: hidden;
  border: 2px #4F754A solid;
  justify-content: center;
  align-items: center;
  margin: 0 25px 0 25px;
  text-align: center;
}
.background-img-wrapper .info-counter-item-wrapper .info-counter-item {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  margin-top: 20px;
}
.background-img-wrapper .info-counter-item-wrapper .info-counter-item .count {
  color: #4F754A;
  font-size: 30px;
  font-family: Raleway;
  font-weight: 600;
  word-wrap: break-word;
}
.background-img-wrapper .info-counter-item-wrapper .info-counter-item .infos {
  color: #4F754A;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
}
.background-img-wrapper .button-wrapper {
  padding-top: 40px;
  padding-bottom: 85px;
}
.background-img-wrapper a {
  text-decoration: none;
}
.background-img-wrapper .button {
  display: inline-block;
  height: 50px;
  padding: 14px 6% 14px 6%;
  border-radius: 6px;
  background-color: #4F754A;
  cursor: pointer;
  transition: all 500ms ease;
  color: white;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 500;
  word-wrap: break-word;
}
.background-img-wrapper .button:hover {
  background-color: #32592D;
}

.layer {
  position: relative;
}

.layer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.58);
  z-index: 1;
}

.z-index {
  z-index: 10;
  position: relative;
}

.background-section {
  padding-top: 100px;
}

#carousel {
  border: 1.5px solid #4F754A;
  width: 100% !important;
}
#carousel .slide {
  display: flex !important;
}
#carousel .slide .slide-text {
  color: #342F2A;
  font-size: 30px;
  font-family: Georgia;
  font-weight: 300;
  word-wrap: break-word;
  margin: 0 29px;
}
#carousel .slick-arrow {
  display: none !important;
}
#carousel .slick-prev {
  display: none;
}

.about-me-section {
  padding-top: 64px;
  padding-bottom: 178px;
}
.about-me-section .main-place-border {
  width: 90%;
  margin: 0 auto;
  border-top: 1.5px #4F754A solid;
  border-bottom: 1.5px #4F754A solid;
}
.about-me-section .main-place-border .about-me-body {
  width: 95%;
  margin: 65px auto;
}
.about-me-section .main-place-border .about-me-body .about-me {
  color: #4F754A;
  font-size: 35px;
  font-family: Georgia;
  font-weight: 300;
  word-wrap: break-word;
  margin-bottom: 82px;
}
.about-me-section .main-place-border .about-me-body .about-me-text {
  width: 80%;
  color: #342F2A;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 300;
  line-height: 22.4px;
  word-wrap: break-word;
}
.about-me-section .main-place-border .about-me-body .about-me-img-wrapper {
  width: 400px;
  height: 400px;
  background-image: url("https://s3-alpha-sig.figma.com/img/2efb/5fa7/39835f331a1d15adfd39e7ae63cbc281?Expires=1690761600&Signature=UjXptLSRORmuAt4WbFKsDxQgFxAXM-ZD4Yl10dcTPNphSylLNtr3pe69agWn6ZgRLzu59dd7ysH1lS8Cjll-rdRcvV529DU0OjkWve8sS9-F3gNxmtDnNUd1crTgDATg-gD~sg1xRLVS5rDr5woxTd1K7E3zY2SrheOs3E-m~bCgwq~b0AYeGflxW~phP3LIwkkj5S53qtvxpHYu0NbizL5eepb7GtVvuLpY0wd~JFZaCV2NW7rNq3Nd2vni05lfPJv3DezYXWzuh~vacZkQYxX2ntLcNzDblFrbuGTpgK7vsLOFDj1d1sufEx~VK7nFlqaQnQkDXwBXCMpMz6vFUw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.about-me-section .main-place-border .about-me-body .about-me-img {
  width: 100%;
  height: 100%;
}

.services-section .services {
  color: #4F754A;
  font-size: 35px;
  font-family: Georgia;
  font-weight: 300;
  word-wrap: break-word;
  margin-bottom: 90px;
}
.services-section .svg-border {
  border: 1px solid #4F754A;
  padding: 10px;
  width: 76px;
  height: 82;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 15px;
}
.services-section .services-underline {
  width: 100%;
  border: 0.5px #4F754A solid;
  margin-bottom: 25px;
  margin-top: 20px;
}
.services-section .services-text {
  color: #342F2A;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 22.4px;
  word-wrap: break-word;
  width: 85%;
}
.services-section .all-services {
  justify-content: end;
  display: flex;
  align-items: center;
}
.services-section .all-services .services-button {
  color: #4F754A;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 600;
  word-wrap: break-word;
}
.services-section .container-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 82.6px;
  padding-bottom: 50px;
}
.services-section .col-3-grid {
  grid-row: span 3;
}

.customer-feedback-section {
  padding-top: 143.5px;
}
.customer-feedback-section .customer-feedback-header {
  width: 50%;
  color: #4F754A;
  font-size: 35px;
  font-family: Georgia;
  font-weight: 400;
  word-wrap: break-word;
  padding-bottom: 26px;
}
.customer-feedback-section .customer-feedback-text {
  width: 66%;
  color: #342F2A;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 22.4px;
  word-wrap: break-word;
}
.customer-feedback-section .c-f-wrapper {
  flex-direction: column;
}
.customer-feedback-section .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  position: relative;
}
.customer-feedback-section .grid-container .grid-item {
  width: 84%;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 19px;
  text-align: center;
}
.customer-feedback-section .grid-container .feedback-items-wrapper {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}
.customer-feedback-section .grid-container .feedback-items-wrapper .feedback-img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  object-fit: cover;
  margin: 0 auto;
}
.customer-feedback-section .grid-container .feedback-items-wrapper .feedback-header {
  width: 100%;
  text-align: center;
  color: #5F5851;
  font-size: 14px;
  font-family: Raleway;
  font-weight: 500;
  line-height: 19.6px;
  word-wrap: break-word;
  margin-top: 19px;
}
.customer-feedback-section .grid-container .feedback-items-wrapper .feedback-name {
  width: 100%;
  text-align: center;
  color: #4F754A;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 600;
  word-wrap: break-word;
  margin-top: 5px;
}
.customer-feedback-section .grid-container .feedback-items-wrapper .feedback-text {
  color: #342F2A;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 22.4px;
  word-wrap: break-word;
  margin-top: 5px;
}
.customer-feedback-section .grid-container .item1 {
  height: 386px;
  border: 2px #4F754A solid;
  border-radius: 6px;
}
.customer-feedback-section .grid-container .item2 {
  height: 337px;
  border: 2px #4F754A solid;
  border-radius: 6px;
}
.customer-feedback-section .grid-container .item3 {
  height: 337px;
  border: 2px #4F754A solid;
  border-radius: 6px;
}
.customer-feedback-section .grid-container .item4 {
  height: 386px;
  margin-top: -49px;
  border: 2px #4F754A solid;
  border-radius: 6px;
}
.customer-feedback-section .grid-container .line9 {
  width: 1px;
  height: 794px;
  border: 1px #4F754A solid;
  position: absolute;
  right: 53.5%;
}
.customer-feedback-section .grid-container .line8 {
  width: 420px;
  height: 1px;
  border: 1px #4F754A solid;
  position: absolute;
  left: -3%;
  bottom: 46.7%;
}
.customer-feedback-section .grid-container .line7 {
  width: 420px;
  height: 1px;
  border: 1px #4F754A solid;
  position: absolute;
  right: 4%;
  bottom: 53%;
}

body {
  height: 4000px;
  background-color: #F8F7F1;
}
